@import 'tailwindcss';

@plugin '@tailwindcss/forms';

@import '@skeletonlabs/skeleton';
@import '@skeletonlabs/skeleton-svelte';
@import '@skeletonlabs/skeleton/themes/cerberus';

@import '../zone404.css';

@import "leaflet/dist/leaflet.css";
